
/*======================================================================
  24. Cart Pages
========================================================================*/
.cart-container{
    overflow-x: scroll;
    margin-bottom: 50px;
}
.continue-shopping{
    margin-left: 30%;
}
.cart-title{
    font-size: 15px !important;
 font-weight: 400 !important;
 
}
.cart-summary{
    margin-top: 20px;
}
.checkout{
    margin-top: 20px;
}
.cart__footer{
    margin-top: 20px;
}
.cart__row {
    position: relative;
  }
  .cart th {
    font-weight: 400;
    padding: 10px 0 8px;
    background: #f2f2f2;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 1px;
  }
  .cart td {
    padding: 10px;
  }
  .cart .cart__meta {
    padding-right: 15px;
  }
  .cart th.cart__meta,
  .cart td.cart__meta {
    text-align: left;
  }
  .cart__image-wrapper a {
    display: block;
  }
  .cart .list-view-item__title {
    color: #000;
    font-size: 1.15385em;
    min-width: 100px;
  }
  .cart__image-wrapper {
    width: 120px;
  }
  .cart .qtyField a {
    height: 36px;
    line-height: 34px;
    padding: 0;
  }
  .cart .qtyField .cart__qty-input {
    height: 36px;
    width: 40px;
    float: left;
  }
  .cart .qtyField a .icon {
    line-height: 33px;
    font-size: 10px;
  }
  .cart .cart__remove {
    border: 0;
    margin-top: 4px;
    font-size: 14px;
    padding: 0;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
  }
  .cart .cart__remove .icon {
    line-height: 24px;
  }
  .cart table tfoot .icon {
    vertical-align: middle;
  }
  .style2 .cart__footer .cart-note {
    margin-bottom: 30px;
  }
  .cart__footer .solid-border {
    border: 1px solid #e8e9eb;
    padding: 20px;
    margin-bottom: 20px;
  }
  .cart__footer h5,
  .cart__footer .h5,
  .cart__footer h5 label,
  .cart__footer .h5 label,
  .cart__footer .cart__subtotal-title {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Poppins, Helvetica, Tahoma, Arial, sans-serif;
    letter-spacing: 0.02em;
  }
  .cart-note__input {
    min-height: 50px;
    width: 100%;
    height: 178px;
  }
  .cart-note__label,
  .cart-note__input {
    display: block;
  }
  .cart__subtotal {
    font-weight: 700;
    padding-left: 15px;
    display: inline-block;
  }
  .cart__shipping {
    font-style: italic;
    font-size: 13px;
    padding: 12px 0;
  }
  .cart_tearm label {
    cursor: pointer;
  }
  input.checkbox {
    height: auto;
    vertical-align: middle;
    padding: 0;
    box-shadow: none;
  }
  #cartCheckout {
    width: 100%;
    padding: 15px;
  }
  .cart-variant1 .cart .cart__price-wrapper {
    text-align: center;
  }
  .cart-variant1 .cart table {
    border: 1px solid #f2f2f2;
  }
  .cart-variant1 .cart table td {
    border: 1px solid #f2f2f2;
  }
  .cart-variant1 .cart th.text-right,
  .cart-variant1 .cart .text-right.cart-price {
    text-align: center !important;
  }
  .cart__meta-text {
    color: #a2a2a2;
    font-size: 12px;
  }
  
